In [1]:
import pickle

In [2]:
with open('cbm_output_rep_pickle.pkl','rb') as f:
    loaded_data=pickle.load(f)

In [3]:
print(loaded_data)

[      Total emission
Year
0           0.000000
1       -4981.375981
2       -4989.400345
3       -4868.615751
4       -4857.955494
...              ...
96       -689.535356
97       -890.927423
98       -904.422278
99      -1047.979933
100     21283.756683

[101 rows x 1 columns],       Total emission
Year
0           0.000000
1       -4981.375981
2       -4989.400345
3       -4868.615751
4       -4857.955494
...              ...
96       -755.206283
97       -927.869932
98       -994.573760
99      -1129.659080
100     20270.672896

[101 rows x 1 columns],       Total emission
Year
0           0.000000
1       -4981.375981
2       -4989.400345
3       -4868.615751
4       -4857.955494
...              ...
96      -1472.872876
97      -1566.765580
98      -1546.850247
99      -1612.420261
100      9825.167537

[101 rows x 1 columns],       Total emission
Year
0           0.000000
1       -4981.375981
2       -4989.400345
3       -4868.615751
4       -4857.955494
...              ...
96      -1463.917772
97      -1556.978156
98      -1535.483383
99      -1600.288469
100      9425.396279

[101 rows x 1 columns],       Total emission
Year
0           0.000000
1       -4981.375981
2       -4989.400345
3       -4868.615751
4       -4857.955494
...              ...
96      -2238.189601
97      -2222.335388
98      -2165.285205
99      -2150.804963
100     -2127.888248

[101 rows x 1 columns],       Total emission
Year
0           0.000000
1       -4981.375981
2       -4989.400345
3       -4868.615751
4       -4857.955494
...              ...
96      -2238.189601
97      -2222.335388
98      -2165.285205
99      -2150.804963
100     -2127.888248

[101 rows x 1 columns]]

In [4]:
len(loaded_data)

6

In [8]:
n_rep = 2

In [11]:
(len(loaded_data)/n_rep) + 1

4.0

In [5]:
loaded_data[0]

      Total emission
Year
0           0.000000
1       -4981.375981
2       -4989.400345
3       -4868.615751
4       -4857.955494
...              ...
96       -689.535356
97       -890.927423
98       -904.422278
99      -1047.979933
100     21283.756683

[101 rows x 1 columns]

In [6]:
loaded_data[2:4]

[      Total emission
 Year
 0           0.000000
 1       -4981.375981
 2       -4989.400345
 3       -4868.615751
 4       -4857.955494
 ...              ...
 96      -1472.872876
 97      -1566.765580
 98      -1546.850247
 99      -1612.420261
 100      9825.167537

 [101 rows x 1 columns],
       Total emission
 Year
 0           0.000000
 1       -4981.375981
 2       -4989.400345
 3       -4868.615751
 4       -4857.955494
 ...              ...
 96      -1463.917772
 97      -1556.978156
 98      -1535.483383
 99      -1600.288469
 100      9425.396279

 [101 rows x 1 columns]]

In [7]:
iter_intensity[0]

NameError: name 'iter_intensity' is not defined

In [ ]:
loaded_data[0]

In [ ]:
loaded_data[2]

In [ ]:
loaded_data[2]['Total emission']

In [ ]:
n_rep = 2

In [ ]:
iter_intensity = 1

In [ ]:
loaded_data[(iter_intensity-1) * n_rep]['Total emission']

In [ ]:
loaded_data[0]['Total emission']